files/Schema.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema elementFormDefault="qualified" xmlns:xsd="http://www.w3.org/2001/XMLSchema">





    <xsd:element name="UID" type="xsd:string"></xsd:element>

    <xsd:element name="PWHash" type="xsd:string"></xsd:element>

    <xsd:element name="Username" type="xsd:string"></xsd:element>

    <xsd:element name="Salt" type="xsd:string"></xsd:element>

    <xsd:element name="NewElement" type="xsd:string"></xsd:element>
</xsd:schema>